* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #424748;
}

body {
    margin: 0;
    height: 10vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "nav" "main";
    background-image: url('/images/cup.webp');
    background-size: cover;
}

body>nav {
    grid-area: nav;
    background-color: #B8C0C2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
}

nav>img {
    width: 34px;
    object-fit: contain;
    margin-right: auto;
}

body>main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
}

body>main h1:first-child {
    margin-bottom: 50px;
}


/* GOOGLE OAUTH CSS  */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

.review-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-user img {
    border-radius: 50%;
    height: 40px;
}