* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #424748;
}

body {
    margin: 0;
    height: 10vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "nav" "main";
    background-image: url('/images/main.jpeg');
    background-size: cover;
    text-decoration: solid;
}

body>nav {
    grid-area: nav;
    background-color: #3b4741;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
    height: 70px;
}

nav>img {
    width: 34px;
    object-fit: contain;
    margin-right: auto;
}

body>main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
}

body>main h1:first-child {
    margin-bottom: 50px;
}


/* GOOGLE OAUTH CSS  */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

td {
    color: #d3d7d8;
    font-weight: bold;
    text-align: left;
    width: 100px;
    font-size: large;
    font-weight: bold;
}

th {
    font-size: 20px;
    color: #d3d7d8;
    text-align: left;
    width: 100px;
    font-weight: bold;
}

#allteams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 50%;
    background-color: #0c4e83;
    opacity: 0.7;
}

#new-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 50%;
    opacity: 0.6;
    background-image: url('/images/soccer-field.jpeg');
    background-size: cover;
}

label {
    text-align: center;
    font-size: 20px;
    color: #d3d7d8;
    width: 250px;
    border: #0c4e83 solid 2px;
    color: black;
    margin: 9px;
    background-color: #B8C0C2;
}

select {
    text-align: center;
    font-size: 20px;
    color: #d3d7d8;
    width: 200px;
    background-color: #3b4741;
}

input {
    margin: 10px;
}

button {
    margin: 10px;
}

.div2 {
    grid-area: 2 / 2 / 5 / 5;
    position: sticky;
    background-color: #0c4e83;
    opacity: 0.7;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    opacity: 0.6;
}

.div3 {
    grid-area: 2 / 5 / 5 / 8;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    font-size: x-large;
    font-weight: bold;
    background-color: gray;
    opacity: 0.7;
}

.div4 {
    background-color: #0c4e83;
    opacity: 0.7;
    display: flex;
    margin: auto;
    width: 80%;
}

.avatarImg {
    border-radius: 45px;
}

.edit {
    align-items: center;
    background-color: #0c4e83;
    margin-top: 50px;
    margin: auto;
    padding: 25px;
    opacity: 0.6;
}

h3,
h2 {
    text-align: center;
    color: #d3d7d8;
}

th {
    border: #3b4741 solid 2px;
    text-align: center;
}


/* TOP SLIDING TEXT */

.holder {
    background: #ccc;
    padding: 30px;
    overflow: hidden;
    font-size: larger;
}

.news {
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translatex(0%)
    }
    100% {
        transform: translatex(100%)
    }
}